# Python cruft
build/
dist/
montblanc.egg-info/
*.pyc

# Old source directory, this can be deprecated
montblanc/src/cub

# cub files
montblanc/include/cub

# Documentation build
docs/_build
docs/make.bat

# log files
*.log

# C++ Compiled Object files
*.slo
*.lo
*.o
*.obj

# C++ Compiled Dynamic libraries
*.so
*.dylib
*.dll

# C++ Compiled Static libraries
*.lai
*.la
*.a
*.lib

# C++ Executables
*.exe
*.out
*.app

# Text files
*.txt
*.json

# Binary Cruft
*.pdf
*.zip

# Tigger
*.lsm
*.lsm.html

# MeqTrees
.tdl.conf

# FITS files
*.fits
*.FITS

# Tensorflow build cruft
montblanc/tensorflow/rime_ops/.d/
montblanc/tensorflow/rime_ops/.swp


