include setup.cfg
include montblanc/include/montblanc/*.cuh
include montblanc/impl/rime/tensorflow/rime_ops/*.cpp
include montblanc/impl/rime/tensorflow/rime_ops/*.cpp
include montblanc/impl/rime/tensorflow/rime_ops/*.cu
include montblanc/impl/rime/tensorflow/rime_ops/*.cuh
include montblanc/impl/rime/tensorflow/rime_ops/*.h
